<!DOCTYPE html>
<html>
	<head>
		<title>{$pageTitle}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="icon" type="image/png" href="img/favicon.ico" />
		<link rel="stylesheet" media="screen" type="text/css" title="Style" href="css/he.css" />
		<link rel="stylesheet" media="screen" type="text/css" title="Style" href="css/default.css" />
		<link rel="stylesheet" media="screen" type="text/css" title="Style" href="css/jquery-ui-1.8.14.css" />
		<link rel="stylesheet" media="screen" type="text/css" title="Style" href="css/reset.css" />
		<script type="text/javascript" src="js/jquery-1.6.1.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.14.js"></script>
		
		<script type="text/javascript" src="js/he/tools/ajaxform.js"></script>
		<script type="text/javascript" src="js/he/tools/infobulles.js"></script>
		<script type="text/javascript" src="js/he/tools/layer.js"></script>
		<script type="text/javascript" src="js/he/tools/overlay.js"></script>
		<script type="text/javascript" src="js/he/tools/md5.js"></script>
		<script type="text/javascript" src="js/he/tools/formTrigger.js"></script>
		<!--[if IE]>
			<script type="text/javascript" src="view/js/he/html5-ie.js"></script>
		<![endif]-->
	</head>
	<body>
		{@header.html}